/* App.css */
body{
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content-container {
  display: flex;
  position:relative;
  flex: 1;
  /* z-index: -1; */
  margin-top: 5%;
}
.navb{
  width: 100%;
  z-index: 1;
}
.main-content {
  flex: 1;
  background-color:transparent;
  /* padding: 20px; */
  margin-top: 1%;
}
.emp{
  margin-top: 1%;
}


